<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="Suite" verbose="1" parallel="classes" thread-count="20">-->
<suite name="Suite" verbose="1">

    <listeners>
        <listener class-name="util_retry.MyRetryListener"/>
    </listeners>

    <test name="Regression1">
        <classes>
            <class name="com.flipcart.jewelry.pkg_testrunner.FrameworkRunner"/>
            <class name="my_fixtures.Commonsteps"/>
        </classes>
    </test>
  
</suite>
